div#form {
    font-family: sans-serif;
    position: absolute;
    top: 20%;
    left: 25%;
}

body {
    background-image: url('train.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: right;
    width: 300px;
    color: brown;
    font-family: serif;
}

label {
    width: 400px;
    display: inline-block;
    text-align: right;
    font-size: large;
}

#fname {
    width: 300px;
    font-size: large;
}

#min_box {
    width: 70px;
    text-align: left;
    font-size: large;
}

#time_gap {
    width: 605px;
    display: inline-block;
    text-align: right;
    font-size: large;
}

#big_box {
    width: 350px;
}