<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale-1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link  rel="stylesheet" href="../static/css/a8.css" type="text/css"/>
  </head>

  <body class="content" style="background-color: rgb(241, 215, 143);">
    <h1><center>Assignment 8</center></h1>

    <div style=" margin: 50px">
      <h2>Question1</h2>
      <p>Table : Passenger</p>
      <p>Attribute: first_name and last_name</p>
      <p>First Name and Last Name starting with queried letters will be displayed</p>
      <form class="example" method="POST" action="/assignment8/question1">
        <input
          type="text"
          placeholder="First Name"
          name="first_name"
          style="width: 300px; font-size: large"
        />
        <input
          type="text"
          placeholder="Last Name"
          name="last_name"
          style="width: 300px; font-size: large"
        />
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
        {% for item in data %}
            <tr>
                <td> {{item[1]}} </td>
                <td> {{item[2]}} </td>
                </br>
            </tr>
        {% endfor %}
    </div>

    <div style=" margin: 50px">
      <h2>Question2</h2>
      <p>Table : Train</p>
      <p>Attribute: Train Name</p>
      <p>Train ID and Train Name will be displayed</p>
      <form class="example" method="POST" action="/assignment8/question2">
        <input
          type="text"
          placeholder="Search Train Name"
          name="train_name"
          style="width: 300px; font-size: large"
        />
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
        {% for item in data2 %}
            <tr>
                <td> {{item[0]}} </td>
                <td> {{item[1]}} </td>
                </br>
            </tr>
        {% endfor %}
    </div>

    <div style=" margin: 50px">
      <h2>Question3</h2>
      <p>Table : Stall</p>
      <p>Attribute: Stall ID</p>
      <p>Stall ID, Stall Owner and Platform No. will be displayed</p>
      <form class="example" method="POST" action="/assignment8/question3">
        <input
          type="text"
          placeholder="Search with Stall ID"
          name="stall_id"
          style="width: 300px; font-size: large"
        />
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
        {% for item in data3 %}
            <tr>
                <td> {{item[0]}} </td>
                <td> {{item[1]}} </td>
                <td> {{item[2]}} </td>
                </br>
            </tr>
        {% endfor %}
    </div>

    <div style=" margin: 50px">
      <h2>Question4</h2>
      <p>Table : Passenger</p>
      <p>Attribute: Passenger DOB</p>
      <p>Aadhar No. of passengers with queried DOB will be displayed</p>
      <form class="example" method="POST" action="/assignment8/question4">
        <input
          type="text"
          placeholder="Search For Date"
          name="dob"
          style="width: 300px; font-size: large"
        />
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
        {% for item in data4 %}
            <tr>
                <td> {{item[0]}} </td>
                </br>
            </tr>
        {% endfor %}
    </div>


  </body>
</html>
