<html>

<head>
    <style>
        h1 {
            text-align: center;
        }
        
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            width: 250px;
        }
    </style>
</head>

<body style="background-color:rgb(241, 215, 143);">
    <h1 style="font-size:60px;font-family: Verdana">Gandhinagar Railway Station Database</h1>
</body>


<a href="/trains" class="button">Trains</a>
<a href="/staff" class="button">Staff</a>
<a href="/passengers" class="button">Passenger</a>
<a href="/vendors" class="button">Vendor</a>
<a href="/assignment8" class="button">Assignment 8</a>

</html>