<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale-1.0">
	<link rel="stylesheet" href="../static/css/external.css" type="text/css" />


</head>

<body>


	<div id="form" style="top:10%">
		<form method="POST">
			<h1>Personal details</h1>

			<label for="fname">Worker_id :</label><input type="text" id="fname" name="worker_id"
				placeholder="Enter the worker_id here" autofocus required>
			<br><br>
			<label for="fname">First Name:  </label><input type="text" id="fname" name="first_name"
				placeholder="Enter your first name here" autofocus required>
			<br><br>
            <label for="fname">Last Name:  </label><input type="text" id="fname" name="last_name"
				placeholder="Enter your last name here" autofocus required>
			<br><br>
            <div id="time_gap"> age at joining: <input type="text" id="min_box" name="age_at_joining" autofocus required></div>
            <br><br>
            <div id="time_gap"> date of joining: <input type="text" id="medium_box" name="date_of_joining" autofocus required></div>
			<br><br>
			<div id="time_gap"> picture: <input type="text" id="medium_box" name="picture" autofocus required></div>
			<br><br>
			<div id="time_gap"> phone number: <input type="text" id="big_box" name="phone_no" placeholder="enter your phone numbers with space" autofocus required></div>

			<h1>Working details</h1>


			<div id="time_gap"> salary : <input type="text" id="medium_box" name="salary" autofocus required></div><br><br>
			<div id="time_gap"> office no. <input type="text" id="medium_box" name="of_no" autofocus required>
				class :<input type="text" id="min_box" name="staff_class" autofocus required>
			</div>
			<br><br>


			<label for="submit"></label><input type="submit" value="submit"> <input type="reset" value="Reset"> <br><br>
		</form>
	</div>


</body>

</html>