<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale-1.0">
	<link rel="stylesheet" href="../static/css/external.css" type="text/css" />


</head>

<body>


	<div id="form">
		<form method="POST">
			<h1>Train details</h1>

			<label for="fname">Train_id :</label><input type="text" id="fname" name="train_id"
				placeholder="Enter the train_id here" autofocus required>
			<br><br>
			<div id="time_gap">starting_point: <input type="text" id="min_box" name="start_pt" autofocus required>
				destination_point :<input type="text" id="min_box" name="dest_pt" autofocus required> </div>
			<br><br>
			<div id="time_gap">arrival_time: <input type="text" id="min_box" name="arrival_time" autofocus required>
				departure_time :<input type="text" id="min_box" name="dept_time" autofocus required> </div>
			<br><br>

			<h1>Schedule</h1>


			<div id="time_gap"> day : <input type="text" id="medium_box" name="day" autofocus required></div><br><br>
			<div id="time_gap"> platform: <input type="text" id="medium_box" name="platform" autofocus required></div>
			<br><br>


			<label for="submit"></label><input type="submit" value="submit"> <input type="reset" value="Reset"> <br><br>
		</form>
	</div>


</body>

</html>